/*************/
/* variables */
/*************/

/* root/default variables */
:root {
    --font-color: #000;
    --link-color: rgb(79, 137, 245);
    --bg-color: rgb(243,243,243);
    --heart-color: #f65;
    --table-head-color: #000;
    --table-head-background-color: #ccc;
    --table-cell-color: #000;
    --table-cell-background-color: #fff;
    --table-border-color: #000;
}
/* dark theme */
[data-theme="dark"] {
    --font-color: #eee;
    --link-color: rgb(79, 137, 245);
    --bg-color: #333;
    --heart-color: #e87;
    --table-head-color: #000;
    --table-head-background-color: #ccc;
    --table-cell-color: #000;
    --table-cell-background-color: #fff;
    --table-border-color: #666;
}

/***********/
/* layout */
/***********/

html {
  overflow-y: scroll;
  height: 100vh;
}

body {
  margin: 0;
  color: var(--font-color);
  background: var(--bg-color);
  text-align: center;
}

body * {
  font-family: Menlo, "Lucida Console", Monaco, Consolas, monospaced, Courier, monospace;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

hr {
  margin: 16px 0px;
}

ul {
  padding: 0px;
}
li {
  line-height: 20px;
  list-style: none;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;

}
table, th, td {
  border: 1px solid var(--table-border-color);
}
table tr td {
  padding: 2px 5px;
  color: var(--table-cell-color);
  background-color: var(--table-cell-background-color);
}
table thead td {
  font-weight: bold;
  color: var(--table-head-color);
  background-color: var(--table-head-background-color);
}

input[type="checkbox"] {
  margin-right: 5px;
}

#menu li {
  display: inline;
}

/**********/
/* events */
/**********/

a.disabled {
  pointer-events: none;
}

/**************/
/* animations */
/**************/

/* BEGIN: heartbeat */

/* needs 22px space */

.heartbeat {
  animation: heartbeat 1300ms ease 0s infinite normal;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 9px;
  height: 9px;
  transform: rotate(45deg) scale(1);
  transform-origin: 50% 50%;
  padding-top: 2px;
  padding-left: 2px;
  margin-left: 1px;
  margin-right: 5px;
}

.heartbeat:after, .heartbeat:before {
  position: absolute;
  content: "";
  background: var(--heart-color);
}

.heartbeat:before {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  top: 3px;
  left: 0;
  width: 9px;
  height: 6px;
}

.heartbeat:after {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  top: 0;
  left: 3px;
  width: 6px;
  height: 3px;
}

@keyframes heartbeat {
  0% {
    transform: rotate(45deg) scale(1);
  }
  14% {
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    transform: rotate(45deg) scale(1);
  }
  42% {
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    transform: rotate(45deg) scale(1);
  }
}

/* END: heartbeat */

/****************/
/* Display Mode */
/****************/

/* Light mode */
/*
@media (prefers-color-scheme: light) {
  body {
    background-color: #eee;
  }
}
*/

/* Dark mode */
/*
@media (prefers-color-scheme: dark) {
  body {
      background-color: #333;
  }
}
*/
